.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background: linear-gradient(to top,  #141316 , #110c55 );
    color: white;
    min-height: 50vh;
}

.footer.light{
    color: black;
    background: linear-gradient(to top,  #f0e8e8, #a7a7a7 );
}

.footer .footer-content{
    width: 100vw;
    padding: 6vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 5vh;
}

.footer .footer-content .footer-section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.footer .footer-content .footer-section ul{
    list-style: none;
    display: flex;
    flex-direction: column;
}

.footer .footer-content .footer-section ul li,
.footer .footer-content .footer-section ul a
{
    margin: 1vh;
    &:hover{
        color: #156ee2;
        cursor: pointer;
    }
}

.newsletter-form{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3vh;
}

.newsletter-form input{
    border: none;
    height: 4vh;
    border-radius: 5px;
    width: 22vw;
}

.newsletter-form button{
    width: 15vh;
    height: 4vh;
    border: none;
    background: #f0e8e8;
    border: 1px solid transparent;
    color: rgb(0, 0, 0);
    border-radius: 6px;
    transition: all .3s ease;

    &:hover{
        border: 1px solid rgb(255, 255, 255);
        background: transparent;
        color: rgb(255, 255, 255);
    }
}

.footer.light .newsletter-form button{
    background: #000;
    color: white;
    &:hover{
        border: 1px solid rgb(0, 0, 0);
        background: transparent;
        color: rgb(0, 0, 0);
    }
}

.footer-bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer-bottom .legal-links{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5vh;
}

/* Responsive Design */
@media (max-width: 768px) {
    .footer-section {
        width: 33vw;
    }
    .newsletter-form input{
        width: 25vw;
    }
}

@media (max-width:480px) {
    .footer-section{
        width: 70vw;
    }
    .newsletter-form input{
        width: 35vw;
    }
}