.landing {
    background: linear-gradient(to top, #141316, #110c55);
    height: 100vh;

}

.landing.light {
    background: linear-gradient(to top, #f0e8e8, #a7a7a7);
}

/* Navigation Styles */

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3vh;
    flex-wrap: wrap;
    position: fixed;
    width: 100vw;
    z-index: 9;
}

.navigation {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    width: 83vh;
}

.nav ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    gap: 3vh;
}

.logo {
    color: white;
}

.menu {
    background-color: #ffffff54;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    border-radius: 5px;
    padding: 2vh 3vh;
    font-weight: 600;
}

.menu ul {
    gap: 10vh;
}

.landing.light .menu {
    color: black;
}

.credidentials {
    background-color: #ffffff54;
    padding: 1vh;
    border-radius: 5px;
}

.credidentials ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}

.credidentials ul button.theme-toggle {
    background-color: #ffffff4f;
    width: 5vh;
    height: 5vh;
    border: none;
    border-radius: 4px;

    &:hover {
        border: 1px solid rgb(255, 255, 255);
    }
}

.Signup-btn,
.login-btn,
.explore {
    width: 12vh;
    height: 5vh;
    text-transform: uppercase;
    border-radius: 4px;
    border: none;
    font-weight: 800;
    border: 1px solid transparent;
    transition: all .3s ease;

    &:hover {
        border: 1px solid white;
        background: transparent;
        color: white;
        cursor: pointer;
    }
}

.Signup-btn {
    background-color: #fff;
}

.login-btn {
    background-color: #000000;
    color: white;
}


/* Main Content  */

.dialogue {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 40vh;
}

.landing.light .dialogue-content {
    color: #000000;
}

.dialogue-content {
    color: rgb(172, 172, 172);
    font-size: 1.3rem;
    width: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4vh;
}

.dialogue-content p {
    font-size: 1.1rem;
}

.explore {
    border-radius: 25px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    width: 20vh;
    height: 7vh;
}


@media (max-width:768px) {
    .nav {
        gap: 2vh;
        justify-content: center;
    }

    .navigation {
        width: 100vw;
        gap: 2vh;
    }

    .navigation ul {
        width: 70vw;
        gap: 0vh;
        font-size: .8rem;
    }
    .menu{
        padding: 1vh;
    }

    .credidentials ul button.theme-toggle{
        height: 3vh;
    }

    .credidentials ul li button{
        height: 3vh;
        font-size: .6rem;
    }

    .dialogue-content {
        font-size: 1rem;
    }

    .dialogue-content p {
        font-size: .9rem;
    }
}