.datas{
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to top, #141316, #110c55);
    flex-wrap: wrap;
    gap: 5vh;
    padding-top: 25vh;
}

.datas.light{
    background: linear-gradient(to top, #f0e8e8, #a7a7a7);
}

.top-det{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}

.datas.light .top-det{
    color: black;
}

@media (max-width:768px) {
    .top-det{
        font-size: .8rem;
    }
}

@media (max-width:480px) {
    .top-det{
        font-size: .5rem;
    }
}